.header {
  height: 100%;
  padding-left: 40px;
  padding-right: 20px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title-container {
  display: flex;
  align-items: center;
}

.header__image {
  display: block;
  background-image: url('../../../assets/icon.png');
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
  border-radius: 30px;
  background-color: var(--secondary-color);
}

.header__title {
  font-size: 22px;
  font-weight: bold;
}

.header__button {
  all: unset;
  cursor: pointer;
  color: #ee3556;
  font-size: 24px;
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 20px;
  }

  .header__button {
    display: block;
  }
}
